{% extends 'practicals/base.html' %}

{% block body %}
    <div id="websiteLogo"><a href="{% url 'main_menu:index' %}"><img src="..\..\static\practicals\images\logo.png"></a></div>
        <div id="websiteTitle">Lab reports</div>
    </div>
    </div>
    <div class="container">
    <div class="jumbotron">
        <div class="row">
          <div class="col-md-offset-2 col-md-8">
            <form role="search" method="get" action="{% url 'practicals:index' %}">
            <div class="input-group input-group-lg">
                <input type="text" class="form-control" placeholder="search by title" name="q" value="{{ request.GET.q }}">
                <span class="input-group-btn">
                  <button type="submit" class="btn btn-default">Search</button>
                 </span>
             </div>
            </form>
          </div>
        </div>

        <BR><BR>

        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                  {% for subject in subjects %}
                     <div class="panel-heading" role="tab">
                     <h4 class="panel-title">
                      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#{{ subject.id }}"
                         aria-expanded="true"> {{ subject }}</a></h4>
                     </div>

                  <div id="{{ subject.id }}">
                  {% for practical in practicals %}
                    {% if practical.subject == subject %}
                    <div  class="panel-collapse collapse in" role="tabpanel">
                      <div class="panel-body">
                        <a href="{% url 'practicals:detail' practical.id %}">{{ practical }}</a>
                      </div>
                    </div>
                     {% endif %}
                  {% endfor %}
                  </div>
                {% endfor %}
              </div>
              </div>
            </div>
        </div>

{% endblock %}